<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Wizard-v1</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="static/css/raleway-font.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
	<div class="page-content" style="background-image: url('static/images/green_back.jpeg')">
		<div class="wizard-v1-content">
			<div class="wizard-form">
		        <form class="form-register" id="form-register" action="#" method="post">
		        	<div id="form-total">
		        		
			            <!-- SECTION 1 -->
			            <h2>
			            	<span class="step-icon"><i class="zmdi zmdi-receipt"></i></span>
			            	<span class="step-number">Step 1</span>
			            	<span class="step-text">Income tax Applied</span>
			            </h2>
			            <section>
			                <div class="inner">
			                	<h3>COMPLETE TAX RECEIPT</h3>
								<div class="form-row table-responsive">
									<table class="table">
										<tbody>
											<tr class="space-row">
												<th>GROSS INCOME FROM SALARY:</th>
												<td>{{gross_income_sal}}</td>
											</tr>
											<tr class="space-row">
												<th>TAXABLE HRA:</th>
												<td>{{taxable_hra}}</td>
											</tr>
											<tr class="space-row">
												<th>GROSS INCOME:</th>
												<td>{{gross_income}}</td>
											</tr>
											<tr class="space-row">
												<th>TOTAL DEDUCTION:</th>
												<td>{{total_deductions}}</td>
											</tr>
											<tr class="space-row">
												<th>TAXABLE INCOME:</th>
												<td>{{taxable_income}}</td>
											</tr>
											<tr class="space-row">
												<th>TAX APPLICABLE:</th>
												<td>{{tax_liable}}</td>
											</tr>
										</tbody>
									</table>
								</div>
				              <input type="submit" name="exit" class="exit" id="exit" href = "home.html">

							</div>
			            </section>
		        	</div>
		        </form>
			</div>
		</div>
	</div>
	<script src="static/js/jquery-3.3.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
	<script src="static/js/jquery.steps.js"></script>
	<script src="static/js/main.js"></script>
</body>
</html>